<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <conversionRule conversionWord="CustomColoring" converterClass="com.acme.logback.CustomLoggerColors" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} | [%thread] | %CustomColoring(%-5level) Message: %msg%n</pattern>
        </encoder>
    </appender>


    <property name="LOG_DIR" value="${tmp}" />
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <append>true</append>
        <file>${LOG_DIR}\bot.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} | [%thread] | %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>